body {
  background: rgb(17,17,17);
background: linear-gradient(124deg, rgba(17,17,17,0.8646052170868348) 0%, rgba(49,116,155,0.7665660014005602) 16%, rgba(180,8,44,0.9738489145658263) 100%);
}
.App {
  text-align: center;
}
.list {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: flex-end;
}
.nav-bar {
  display: flex;
  background-color: aquamarine;
}
.intro {
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  background-color: var(--color-text-secondary);
  background-image: linear-gradient(
    90deg,
    rgb(12, 4, 175) 0%,
    rgb(227, 35, 35) 46.24%,
    rgb(237, 166, 119) 95.43%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page1 {
  margin: none;
}
.head1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 80px;
  height: 60px;
}
